2020.07.09 수업

## Pansdas

In [77]:
import numpy as np
import pandas as pd
dic = {'city' : ['서울', '부산', '대전', '대구', '광주'],
      'year' : [2017,2017,2018,2018,2018],
      'temp' : [18,19,20,21,20]}
data = pd.DataFrame(dic)
data

  city  year  temp
0   서울  2017    18
1   부산  2017    19
2   대전  2018    20
3   대구  2018    21
4   광주  2018    20

1. column 을 도시, 연도, 날씨 로 바꾸세요.

In [81]:
data.columns = ['도시', '연도', '날씨']
data

   도시    연도  날씨
0  서울  2017  18
1  부산  2017  19
2  대전  2018  20
3  대구  2018  21
4  광주  2018  20

2. 인덱스를 도시로 설정하세요.

In [39]:
data.set_index()

      연도  날씨
도시
서울  2017  18
부산  2017  19
대전  2018  20
대구  2018  21
광주  2018  20

In [67]:
dic = {'city' : ['서울', '부산', '대전', '대구', '광주'],
   'year' : [2017,2017,2018,2018,2018],
   'temp' : [18,19,20,21,20]}
data = pd.DataFrame(dic)
data = data.set_index('city')

4. 서울, 부산, 대구 행을 출력하세요.

      year  temp
city
서울    2017    18
부산    2017    19

5. year, temp column을 출력하세요.

In [31]:
data = {'city' : ['서울', '부산', '대전', '대구', '광주'],
        'year' : [2017,2017,2018,2018,2018],
        'temp' : [18,19,20,21,20]}
df = pd.DataFrame(data)
df.header

TypeError: __init__() got an unexpected keyword argument 'header'

6-2. city를 index로 설정하세요.

7. 부산부터 대구까지의 행을 출력하세요.

8. 서울과 대전 행을 출력하세요.

9. 데이터 추가 - 열 추가하기
```
column에 car 데이터  [50,40,20,30,10]를 추가하세요.
```

10. 조건을 사용하여 high 데이터 추가하기.

```
차량 수 중 40 이상인 데이터를 high 로 추가하세요.
```

11. 원본을 변화시키지 않고 car 데이터를 빼고 출력하세요.

12. 원본을 변화시키고 car 데이터 삭제하고 원본데이터 출력하세요.

## Series

1. [4,7,-5,3] 인 시리즈 데이터 생성하세요.

2. [4,7,-5,3]이고 인덱스가 ['d','b','a','c']인 시리즈 생성하세요.

3. 시리즈 데이터 타입 출력하세요.

4. 각 도시의 인구데이터를 시리즈로 생성하고 인덱스를 도시로 설정하세요.
```
서울  9904312
부산  3448737
인천  2890451
대구  2466052
```

In [ ]:
import pandas as pd
s = pd.Series([9904312, 3448737,2890451,  2466052], index = ["서울", "부산", "인천", "대구"])
s

5. 시리즈의 name 을 '인구'로 설정하세요.

6. 인덱스의 name을 '도시'로 설정하세요.

7. 인구데이터를 10만으로 나누어 출력하세요.

8. 대구의 인구를 인덱싱으로 출력하세요.

In [ ]:
s[[0,3,1]]
# s[["서울", "대구", "부산"]]

9. 슬라이싱과 조건으로 행출력하세요. (1행부터 3행까지, 250만이상출력)

10. 인구가 250만 이상이고 500만 이하인 도시 출력하세요.

11. 아래의 데이터를 사용하여 시리즈 s2생성하세요.
```
data = {"서울" : 9123442, "부산" : 3333437,
       "인천" : 2234451, "대전" : 2423452}
       ```

In [ ]:
data = {"서울" : 9123442, "부산" : 3333437,
        "인천" : 2234451, "대전" : 2423452}

12. 두 시리즈 데이터의 차이를 나타낸 시리즈데이터를 출력하고 null이 아닌것을 출력하세요.

## DataFrame

1. 아래의 데이터로 데이터 프레임을 생성하세요.

```
import pandas as pd

data = {"2015": [9123442,3333437,2234451,2423452],
       "2010" : [9904312,3448737,2890451,2466052]}
```

In [ ]:
import pandas as pd

data = {"2015": [9123442,3333437,2234451,2423452],
       "2010" : [9904312,3448737,2890451,2466052]}
df = pd.DataFrame(data)
df

2. 인덱스로 ['서울', '부산','인천','대구'] 추가하세요.

3. 데이터만 들어있을 때 데이터 프레임 구성하기 df2

```
data = [[9123442,3333437,2234451,2423452],
        [9904312,3448737,2890451,2466052]]
idx = ['2015', '2010']
col = ['서울', '부산', '인천', '대구']
```

4. 행과 열을 바꾸세요. - df3에 저장

5. [9762546, 3512547, 2517680, 2456016]의 데이터를 2005 데이터로 추가하세요.

6. 2010데이터 중 250만 보다 큰 행을 출력하세요.

7. 서울과 부산의 2015, 2010데이터를 출력하세요.

8. 인덱스를 이용하여 7번을 출력하세요.

## CSV 파일 1

In [ ]:
import numpy as np
drive_path = r"c:/Apps/temp/"
p_number = pd.read_csv(drive_path + "population_number.csv",index_col="도시" ,encoding="euc-kr")
p_number

1. 열 데이터의 갯수를 출력하세요.

2. 
s에 0 부터 5까지의 랜덤한 정수 100개를 시리즈로 생성하고 각 값이 얼마나 나왔는지 출력하세요.

3. 2010 열 데이터를 오름차순으로 정렬하여 나타내세요.

4. 전체 데이터를 2010데이터를 기준으로 정렬하세요.

5. 전체 데이터를 지역과 2010을 기준으로 정렬하세요.

## CSV 파일 2

1. score 변수에 csv데이터를 저장하고 출력하시오./
경로 : drive_path + "score.csv" /인덱스를 '과목'으로 설정하세요. /encoding='euc-kr'

In [ ]:

score = pd.read_csv(r'C:\Users\hoins\Desktop\실습\실습_파이썬 라이브러리\라이브러리 실습\라이브러리_실습\datascore.csv',index_col='과목', encoding = 'euc-kr')
score

2. 각 반의 총점을 정렬하여 내림차순으로 출력하세요.

3. 학생들의 성적을 과목에 대해 내림차순 정렬하세요.

4. 전체 데이터에 합계 열을 추가하세요.

5. 각 반의 최고점을 출력하세요.

6. 각 반의 최저점을 출력하세요.

7. 각 반의 최고 최저점을 데이터 프레임으로 나타내세요. column 이름 = max, min

8. score에 '평균' 열을 추가하세요.

9.'평균' 행을 추가하세요.

10. 각 과목별 최고 최저점의 차이를 출력하세요.

11. 차이가 가장 큰 과목 명을 출력하세요.

12. min_max(x) 함수를 만들고, apply를 사용하여 score에서 각 반의 최고 최저점의 차이를 출력하세요.

13. df3의 데이터 중 각 수가 얼마나 사용되었는지 df4에 나타내세요. - apply

14. df4에서 NaN값 0으로 채우세요.

15. score의 정보 가져오세요.

16. score 데이터에서 앞에서부터 3개만 가져오세요.

17. score 데이터에서 뒤에서부터 3개만 가져오세요.

## 카테고리

1. 카테고리로 나타내기 cats변수에 저장하세요.

```
ages = [0, 2, 10, 21, 23, 37, 31, 61, 20, 41, 32, 100]
bins = [0, 15, 25, 35, 60, 99]
labels = ["미성년자", "청년", "중년", "장년", "노년"]
```

2. cats 의 카테고리 목록 출력

3. age_arr에 1번의 'ages' column을 하나를 생성하고 두번째 행에 카테고리로 열 'age_cat'을 생성하세요.

4. 각 카테고리 별 데이터 수를 출력하세요.

5. train = pd.read_csv(drive_path + "train.csv", index_col="PassengerId") 실행하세요.

6. train의 각 column별 데이터 수를 출력하세요.

7. 승객중 성별(Sex) 인원수, 나이별(Age) 인원수, 선실별(Pclass), 생존(Survived)인원수 구하세요.

8. 생존한(1) 인원 중 나이별로 사람수 분류하세요.

```
bins = [0, 15, 25, 35, 60, 99]
labels = ["미성년자", "청년", "중년", "장년", "노년"]
```

9. 사망한(0) 인원 중 나이별로 사람수 분류하세요.

10. 생존한 인원 중 남성, 여성 출력하세요.

11. 
```
# groupby
df5 = pd.DataFrame({
    'key1' : ['A','A','B','B','A'],
    'key2' : ['one','two', 'one','two','one'],
    'data1' : [1, 2, 3, 4, 5],
    'data2' : [10, 20, 30, 40, 50]
})
```

#### groupby 연습

In [ ]:

df5 = pd.DataFrame({
'key1' : ['A','A','B','B','A'],
'key2' : ['one','two', 'one','two','one'],
'data1' : [1, 2, 3, 4, 5],
'data2' : [10, 20, 30, 40, 50]
})
df5

12. key1과 data2 열 데이터를 key1을 기준으로 그룹화 하세요.

13. 각 그룹 별 합계를 출력하세요.

14. train 데이터에서 선실과 성별을 기준으로 생존자 수를 구하세요.

## merge 는 라이브러리 실습 예제 207!