In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt

# Windows 한글폰트 가져오기
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
rc('font', family=font_name)

In [3]:
os.getcwd()

'C:\\Users\\wjdwl\\Desktop\\Ai_school_study\\수업내용들 정리 및 복습, 시험\\2주차'

In [6]:
df = pd.read_csv(r'C:/Apps/temp/data/data_population.csv', encoding = 'euc-kr', na_values = [' '])
df.head()

,Unnamed: 0,Province,City,Population,Households,PersInHou,Male,Female,GenderRatio
0,1,서울특별시,NaN,10078850,4197478,2.40,4962774,5116076,0.97
1,2,서울특별시,종로구,155695,72882,2.14,76962,78733,0.98
2,3,서울특별시,중구,126817,59614,2.13,63292,63525,1.00
3,4,서울특별시,용산구,235186,108138,2.17,114119,121067,0.94
4,5,서울특별시,성동구,298145,126915,2.35,148265,149880,0.99

### data에 대한 대략적인 정보 얻기. - head, tail, info, describe...

In [ ]:
df.shape

1. 결측치 제거하기

2. 쓸모없는 컬럼 삭제하기

In [ ]:
df.shape

3. 충청남도의 인구 출력하기

4. 충청북도의 인구 출력하기

5. 충청도의 인구 출력하기

6. 지역별 인구 모두 출력하기

7. 성비 기준 남자가(GenderRatio > 1) 많고, 1인 가구가 많은 도시(PersInHou<2) 출력하기

8. GenderRatio가 컬럼이고 city가 인덱스인 DataFrame 만들기.

### bar 차트 그리기

9. 8에서 만든 DF로 bar차트 그리기.

10. 9를 오름차순으로 bar차트 그리기

11. 시리즈로 GenderRatio(col)와 city(index)를 이용해 차트그리기